		<dl>
			<dt><label for="forum_recent_topics">{L_RECENT_TOPICS_LIST}:</label><br /><span>{L_RECENT_TOPICS_LIST_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="forum_recent_topics" value="1"<!-- IF RECENT_TOPICS --> id="forum_recent_topics" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input type="radio" class="radio" name="forum_recent_topics" value="0"<!-- IF not RECENT_TOPICS --> id="forum_recent_topics" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>